img {
    display: block;
    margin: auto;
}

canvas {
    background-image: url("../images/map-play.png");
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}